<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio 4</title>
    <link rel="stylesheet" href="cardapio-style.css">
</head>
<body class="corpo_cardapio">
    <main class="container_cardapio">
        <h1>MENU</h1>
        <hr>
        <ul class="cafe_da_manha">
            <h1>Café da manhã</h1>
            <li>2 fatias de pão integral</li>
            <li>2 ovos mexidos</li>
            <li>1 fatia de queijo branco</li>
            <li>1 copo (200ml) de suco natural de laranja</li>
            <br>
            <li>Calorias: 450kcal</li>
            <li>Proteínas: 25g</li>
            <li>Carboidratos: 45g</li>
            <li>Fibras: 5g</li>
        </ul>
        
        <ul class="almoco">
            <h1>Almoço</h1>
            <li>120g de arroz integral</li>
            <li>100g de feijão preto cozido</li>
            <li>150g de peito de frango grelhado</li>
            <li>Salada de alface, tomate e cenoura ralada com 1 colher de chá de azeite</li>
            <br>
            <li>Calorias: 650kcal</li>
            <li>Proteínas: 50g</li>
            <li>Carboidratos: 70g</li>
            <li>Fibras: 9g</li>
        </ul>

        <ul class="lanche_tarde">
            <h1>Lanche da tarde</h1>
            <li>1 iogurte grego light</li>
            <li>1 colher de sopa de granola</li>
            <li>1 banana média</li>
            <br>
            <li>Calorias: 400kcal</li>
            <li>Proteínas: 18g</li>
            <li>Carboidratos: 50g</li>
            <li>Fibras: 4g</li>
        </ul>

        <ul class="janta">
            <h1>Janta</h1>
            <li>150g de filé de tilápia grelhado</li>
            <li>100g de batata inglesa cozida</li>
            <li>100g de legumes (vagem, cenoura, couve-flor)</li>
            <br>
            <li>Calorias: 500kcal</li>
            <li>Proteínas: 40g</li>
            <li>Carboidratos: 45g</li>
            <li>Fibras: 6g</li>
        </ul>

        <ul class="total">
            <h1>Total</h1>
            <li>Calorias: 2300kcal</li>
            <li>Proteínas: 133g</li>
            <li>Carboidratos: 210g</li>
            <li>Fibras: 24g</li>
        </ul>
        <hr>
    </main>
</body>
</html>
