<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio 3</title>
    <link rel="stylesheet" href="cardapio-style.css">
</head>
<body class="corpo_cardapio">
    <main class="container_cardapio">
        <h1>MENU</h1>
        <hr>
        <ul class="cafe_da_manha">
            <h1>Café da manhã</h1>
            <li>1 copo (250ml) de leite desnatado</li>
            <li>40g de aveia em flocos</li>
            <li>1 banana prata média</li>
            <li>1 colher de chá de mel</li>
            <br>
            <li>Calorias: 400kcal</li>
            <li>Proteínas: 18g</li>
            <li>Carboidratos: 55g</li>
            <li>Fibras: 5g</li>
        </ul>
        
        <ul class="almoco">
            <h1>Almoço</h1>
            <li>100g de arroz branco</li>
            <li>100g de feijão carioca cozido</li>
            <li>150g de peito de frango grelhado</li>
            <li>Legumes cozidos (abobrinha, cenoura, brócolis)</li>
            <br>
            <li>Calorias: 650kcal</li>
            <li>Proteínas: 50g</li>
            <li>Carboidratos: 70g</li>
            <li>Fibras: 9g</li>
        </ul>

        <ul class="lanche_tarde">
            <h1>Lanche da tarde</h1>
            <li>1 iogurte natural integral</li>
            <li>1 maçã média</li>
            <li>10g de castanha-do-pará</li>
            <br>
            <li>Calorias: 350kcal</li>
            <li>Proteínas: 14g</li>
            <li>Carboidratos: 35g</li>
            <li>Fibras: 4g</li>
        </ul>

        <ul class="janta">
            <h1>Janta</h1>
            <li>150g de carne vermelha magra (patinho)</li>
            <li>100g de purê de mandioca</li>
            <li>100g de salada de folhas com azeite (1 colher de chá)</li>
            <br>
            <li>Calorias: 500kcal</li>
            <li>Proteínas: 40g</li>
            <li>Carboidratos: 35g</li>
            <li>Fibras: 6g</li>
        </ul>

        <ul class="total">
            <h1>Total</h1>
            <li>Calorias: 2200kcal</li>
            <li>Proteínas: 122g</li>
            <li>Carboidratos: 195g</li>
            <li>Fibras: 24g</li>
        </ul>
        <hr>
    </main>
</body>
</html>
