<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio 6</title>
    <link rel="stylesheet" href="cardapio-style.css">
</head>
<body class="corpo_cardapio">
    <main class="container_cardapio">
        <h1>MENU</h1>
        <hr>
        <ul class="cafe_da_manha">
            <h1>Café da manhã</h1>
            <li>3 ovos mexidos</li>
            <li>2 fatias de pão integral</li>
            <li>1 fatia de queijo minas</li>
            <li>1 copo (250ml) de suco natural de laranja</li>
            <br>
            <li>Calorias: 550kcal</li>
            <li>Proteínas: 30g</li>
            <li>Carboidratos: 50g</li>
            <li>Fibras: 6g</li>
        </ul>
        
        <ul class="almoco">
            <h1>Almoço</h1>
            <li>120g de arroz integral</li>
            <li>100g de feijão preto</li>
            <li>150g de peito de frango grelhado</li>
            <li>1 colher de sopa de azeite de oliva</li>
            <li>Salada à vontade (alface, cenoura e tomate)</li>
            <br>
            <li>Calorias: 700kcal</li>
            <li>Proteínas: 52g</li>
            <li>Carboidratos: 70g</li>
            <li>Fibras: 8g</li>
        </ul>

        <ul class="lanche_tarde">
            <h1>Lanche da tarde</h1>
            <li>1 iogurte natural integral</li>
            <li>1 colher de sopa de aveia</li>
            <li>1 colher de sopa de pasta de amendoim</li>
            <li>1 banana média</li>
            <br>
            <li>Calorias: 450kcal</li>
            <li>Proteínas: 20g</li>
            <li>Carboidratos: 45g</li>
            <li>Fibras: 5g</li>
        </ul>

        <ul class="janta">
            <h1>Janta</h1>
            <li>180g de filé de tilápia grelhado</li>
            <li>120g de purê de batata inglesa</li>
            <li>100g de legumes cozidos (brócolis e couve-flor)</li>
            <li>1 colher de chá de azeite</li>
            <br>
            <li>Calorias: 600kcal</li>
            <li>Proteínas: 45g</li>
            <li>Carboidratos: 55g</li>
            <li>Fibras: 6g</li>
        </ul>

        <ul class="total">
            <h1>Total</h1>
            <li>Calorias: 2500kcal</li>
            <li>Proteínas: 147g</li>
            <li>Carboidratos: 220g</li>
            <li>Fibras: 25g</li>
        </ul>
        <hr>
    </main>
</body>
</html>
