<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio 5</title>
    <link rel="stylesheet" href="cardapio-style.css">
</head>
<body class="corpo_cardapio">
    <main class="container_cardapio">
        <h1>MENU</h1>
        <hr>
        <ul class="cafe_da_manha">
            <h1>Café da manhã</h1>
            <li>2 fatias de pão integral</li>
            <li>2 ovos cozidos</li>
            <li>1 colher de sopa de requeijão light</li>
            <li>1 copo (250ml) de vitamina de banana com aveia</li>
            <br>
            <li>Calorias: 500kcal</li>
            <li>Proteínas: 26g</li>
            <li>Carboidratos: 50g</li>
            <li>Fibras: 6g</li>
        </ul>
        
        <ul class="almoco">
            <h1>Almoço</h1>
            <li>120g de arroz integral</li>
            <li>100g de feijão carioca</li>
            <li>180g de peito de frango grelhado</li>
            <li>Salada de folhas verdes com azeite (1 colher de sopa)</li>
            <br>
            <li>Calorias: 700kcal</li>
            <li>Proteínas: 55g</li>
            <li>Carboidratos: 75g</li>
            <li>Fibras: 9g</li>
        </ul>

        <ul class="lanche_tarde">
            <h1>Lanche da tarde</h1>
            <li>1 iogurte natural integral</li>
            <li>1 colher de sopa de pasta de amendoim</li>
            <li>1 banana média</li>
            <br>
            <li>Calorias: 450kcal</li>
            <li>Proteínas: 18g</li>
            <li>Carboidratos: 45g</li>
            <li>Fibras: 5g</li>
        </ul>

        <ul class="janta">
            <h1>Janta</h1>
            <li>150g de carne bovina magra (coxão mole grelhado)</li>
            <li>100g de purê de batata doce</li>
            <li>100g de legumes salteados no azeite</li>
            <br>
            <li>Calorias: 550kcal</li>
            <li>Proteínas: 42g</li>
            <li>Carboidratos: 50g</li>
            <li>Fibras: 6g</li>
        </ul>

        <ul class="total">
            <h1>Total</h1>
            <li>Calorias: 2400kcal</li>
            <li>Proteínas: 141g</li>
            <li>Carboidratos: 220g</li>
            <li>Fibras: 26g</li>
        </ul>
        <hr>
    </main>
</body>
</html>
