@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Centraliza o container na tela */
#container {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

/*div do botão de troca*/
#switch-button {
    display: flex;
    cursor: pointer;
    position: relative;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 45%;

    border: 1px solid red;
}

#switch-icon{
    width: 25px;
    height: 25px;
}

/*seção de preenchimento de dados*/
#card-login {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 50%;
    perspective: 1000px; /* Cria efeito 3D */

    border: 1px solid green;

}

#card-register{
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    
    perspective: 1000px; /* Cria efeito 3D */

    border: 1px solid green;
}

.form-content{
    border: 1px solid red;
    
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

/* Painel de Login e Cadastro */
.conteudo-atual-flip{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out; /*animação de transição de conteúdos*/
}

.conteudo-oculto-flip{
    transition: opacity 0.5s ease-in-out; /*animação de transição de conteúdos*/
    opacity: 0;
    visibility: hidden;
}

.form-content input{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 10px;
    
}


/*
#register-form {
    transform: rotateY(180deg);
}


#card.flipped #login-form {
    transform: rotateY(180deg);
}
#card.flipped #register-form {
    transform: rotateY(0deg);
}
*/




