@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    
}

#container {
    width: 300px;
    height: 600px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0ebeb;
    border-radius: 20px;
    
}

/*div do botão de troca*/
#switch-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    
}

#switch-icon{
    width: 25px;
    height: 25px;
}



/* transição entre as telas de login e registro */
.conteudo-atual-flip{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out; /*animação de transição de conteúdos*/
}

.conteudo-oculto-flip{
    transition: opacity 0.5s ease-in-out; /*animação de transição de conteúdos*/
    opacity: 0;
    visibility: hidden;
}

/* formulário */
.form-content {
    height: 500px;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgba(228, 224, 222, 0.932);

}

.form-content input{
    width: 80%;
    height: 40px;
    margin: 10px 15px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 17px;
}

.form-content button{
    width: 40%;
    height: 40px;
    margin: 10px 90px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

/*
#register-form {
    transform: rotateY(180deg);
}


#card.flipped #login-form {
    transform: rotateY(180deg);
}
#card.flipped #register-form {
    transform: rotateY(0deg);
}
*/




