<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login e Cadastro</title>
    <link rel="stylesheet" href="../login/login_style.css">
</head>
<body>
    <div id="container">
        <button id="switch-button">
            <img src="switch.svg" alt="Botão de alternar" id="switch-icon">
        </button>
            
        <!-- Tela de Login -->
        <form class="form conteudo-atual-flip" id="card-login">
            <p class="title">Login</p>    
            <label>
                <input class="input" type="email" placeholder="" required="">
                <span>Email</span>
            </label> 
                
            <label>
                <input class="input" type="password" placeholder="" required="">
                <span>Password</span>
            </label>
            <button class="submit">Submit</button>
        </form>

        
        <!-- Tela de Cadastro -->
        <form class="form conteudo-oculto-flip" id="card-register">
            <p class="title">Register</p>
            
            <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Firstname</span>
                </label>

                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Lastname</span>
                </label>
            </div>  
                    
            <label>
                <input class="input" type="email" placeholder="" required="">
                <span>Email</span>
            </label> 
                
            <label>
                <input class="input" type="password" placeholder="" required="">
                <span>Password</span>
            </label>
            <label>
                <input class="input" type="password" placeholder="" required="">
                <span>Confirm password</span>
            </label>
            <button class="submit">Submit</button>
        </form>
    </div>
    <script src="/controller/flip_content.js" defer></script>
</body>
</html>
