@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libertinus+Mono&display=swap');
#background_image{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}

#corpo_cardapio1 {
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;        
}

#container_cardapio1 {
    display: flex;            
    flex-direction: column;            
    padding: 20px;            
    width: 80%;               
    max-width: 600px;         
}

#corpo_cardapio1 {
    background-color: #ffffff;
    color: rgb(255, 255, 255); 
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 2rem;
  }
  
 
  #container_cardapio1 {
    max-width: 800px;
    margin: 0 auto;
    background-color: #98c466;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
  }
  
  
  #container_cardapio1 ul {
    list-style: none;
    padding-left: 2rem;
    margin-bottom: 1rem;
    background-color: #536b38;
  }
  

  #container_cardapio1 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0;
    letter-spacing: 1px;
    font-family: "Josefin Sans", sans-serif;
  }

  #container_cardapio1 li {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    
  }
  
  hr {
    border: none;
    border-top: 2px solid white;
    margin: 2rem 0;
  }
  
  
  .cafe_da_manha,
  .almoco,
  .lanche_tarde,
  .janta,
  .total {
    background-color: rgba(255, 255, 255, 0.1);
    
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.2s ease;
  }
  
 
  .cafe_da_manha:hover,
  .almoco:hover,
  .lanche_tarde:hover,
  .janta:hover,
  .total:hover {
    transform: scale(1.02);
  }
  

