<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeHealthier</title>
    <link rel="stylesheet" href="/view/barra-de-navegacao.css">
    <link rel="stylesheet" href="../home/home_style.css"> 
    <script src="/controller/trocar_conteudo.js" defer></script>
    <link rel="stylesheet" href="../calculadora/calculadora.css">
    <script src="/controller/logica_calculo.js" defer></script> <!--o atributo defer faz com que o JavaScript só seja executado depois que todo o HTML for carregado-->
</head>
<body id="home_background">
    
    <!-- barra de navegação -->
    <nav id="nav-bar">
        <img src="/assets/doctor-logo.svg" alt="Logo da BeHealthier" id="doctor-logo">
        <h1 id="titulo_site">BeHealthier</h1>
        <ul id="nav-list">
            <li>
                <a href="../home/home.html">
                <img src="/assets/house-icon.svg" alt="Ícone de casa" id="house-icon">
                </a>
            </li>
            <li>
                <a href="/view/calculadora/calculadora.html">
                <img src="/assets/calculator-icon.svg" alt="Ícone de casa" id="calculator-icon">
                </a>
            </li>
        </ul>
    </nav>
    
    <!-- seção do banner -->
    <section id="banner">
            <div id="banner-content">
                <div id="banner-container-funcionalidades">
                    
                    <div id="prev-btn">
                        <img src="/assets/arrow-left.svg" alt="Botão de voltar" id="arrow-left">
                    </div>
                    
                    <!-- apresentação da calculadora -->
                    <div id="conteudo-da-calculadora" class="conteudo-atual">
                        <img src="/assets/pesagem.jpg" alt="Imagem da funcionalidade da calculadora" id="banner-img-balanca">  
                        <div id="banner-text-balanca">
                            <p><h2>Calcule suas calorias</h2>
                                <hr>
                                Use nossa calculadora para <br>
                                conhecer mais sobre seu <br>
                                corpo
                            </p>
                        </div>
                    </div>
                    
                    <!-- apresentação do cardápio -->
                    <div id="conteudo-do-cardapio" class="conteudo-oculto">
                        <img src="/assets/tabela-de-macros.jpg" alt="Imagem dos macronutrientes" id="banner-img-macros">
                        <div id="banner-text-macros">
                            <p><h2>Monte seu cardápio</h2>
                                <hr>
                                Tenha acesso a um cardápio <br>
                                personalizado para você <br>
                                com base nas suas <br>
                                infomações
                            </p>
                        </div>
                    </div>
                    
                    <div id="next-btn">
                        <img src="/assets/arrow-right.svg" alt="Botão de avançar" id="arrow-right">
                    </div>
                
                </div>
            </div>  
    </section>
    
    <!--calculadora-->
    <section id="container-calculadora">
        <div id="calculadora">
            <div id="display-calculadora">
                <h2>Calculadora</h2>
                <input type="number" id="peso" placeholder="kg" required> <!-- required impede o envio do formulário caso o campo esteja vazio -->
                <br><br>
                <input type="number" id="altura" placeholder="cm" required>
                <br><br>
                <input type="number" id="idade" placeholder="anos" required>
                <br><br>
                <button id="exibirResultado">Calcular</button>
                <br><br>
                </div> 
                <br><br>
            </div>
            <div id="resultado"></div>
        </div>
    </section>

    <!-- cards de informações -->
    <section id="cards-container">
        <div id="card-1" class="card">
            <h2>Variedade alimentar</h2>
            <hr>
            <p>
            Inclua alimentos de todos os grupos:<br>
            frutas, legumes, cereais, proteínas e sementes.<br>
            A diversidade garante nutrientes essenciais e<br>
            evita deficiências e promove mais saúde<br>
            Colorir o prato é um ótimo sinal.
            
            </p>
        </div>

        <div id="card-2" class="card">
            <h2>Comida de verdade</h2>
            <hr>
            <p>
            Priorize alimentos minimamente processados e<br>
            evite os ultraprocessados no dia a dia.<br>
            Mais nutrientes e menos aditivos químicos.<br>
            Opte por legumes, grãos, ovos, frutas e raízes.<br>
            
            </p>
        </div>

        <div id="card-3" class="card">
            <h2>Hidratação constante</h2>
            <hr>
            <p>
            Água é essencial para todas as funções.<br>
            Beba ao longo do dia, não só com sede.<br>
            Evite bebidas açucaradas ou industrializadas.<br>
            Carregue uma garrafinha sempre com você.
            
            </p>
        </div>

        <div id="card-4" class="card">
            <h2>Consciência ao comer</h2>
            <hr>
            <p>
            Coma devagar e sem distrações externas.<br>
            Perceba a fome e a saciedade reais.<br>
            Evite comer por tédio ou ansiedade.<br>
            Desenvolva uma relação saudável com a comida.<br>
            Alimentação também é autocuidado diário.
            
            </p>
        </div>
    </section>

    <!-- formulário de contato -->
    <section id="contato">
        <h2>Fale Conosco</h2>
        <p>Envie-nos sua dúvida</p>
        <form action="#" method="post"> <!--enviar os dados para o arquivo onde ele será processado-->
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" rows="4" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </section>
    
    <!-- rodapé -->
    <footer>
        <p>&copy; 2025 Seu Site de Nutrição. Todos os direitos reservados.</p>
        <p>Siga-nos: 
            <a href="#">Instagram</a> | 
            <a href="#">Facebook</a> | 
            <a href="#">YouTube</a>
            
        </p>
    </footer>
</body>
</html>