@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&display=swap');

#home_background{
    display: flex;
    flex-direction: column;   /* organiza os elementos verticalmente */
    width: 100%;
    height: 100%;
    background-color: #f7fafcde;

}

/*barra de navegação*/

#nav-bar{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 10vh;
    align-items: center;
    
}

#nav-list{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 90%;
    height: 80%;
    padding-right: 75%;
    
}

#nav-list li{
    list-style-type: none;
    display: flex;
    position: relative;
    margin-left: 40%;
    padding-top: 10%;
    flex-direction: column; 
    align-items: center;  /* centraliza o conteúdo horizontalmente */
    justify-content: center; /* centraliza o conteúdo verticalmente */
    transition: background-color 0.5s ease-in-out; /* animação suave de 0.5s */
    border-radius: 15px; /* altera o formato da div*/

}

#nav-list a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
}

#nav-list li:hover{
    background-color: #d6daddde;
}

#doctor-logo{
    display: flex;
    position: relative; 
    width: 10%;
    height: 90%;
    
}

#house-icon{
    display: flex;
    position: relative;
    padding-right: 0%;
    height: 35px;
    width: 50px;
    margin-bottom: 3px;
}

#calculator-icon{
    display: flex;
    position: relative;
    padding-right: 0%;
    height: 38px;
    width: 50px;
    margin-bottom: 3px;
}


/*seção do banner*/

#banner{
    display: flex;
    margin-top: 10%;
    overflow: hidden;

    border: 1px solid black;
}

#banner-container-funcionalidades{
    display: flex;
    position: relative;
    height: 300px;
    width: 650px;
    justify-content: center;
    background-position: center; /* centraliza a imagem */
    border-radius: 15px;
    margin-left: 10px;

    border: 1px solid red;
}

#conteudo-da-calculadora{
    display: flex;
    position: relative;
    height: 300px;
    width: 650px;
    justify-content: center;
    background-position: center; /* centraliza a imagem */
    border-radius: 15px;
    margin-left: 10px;
}

#banner-img-balanca{
    border-radius: 50%;
    margin-left: 15px;

    border: 1px solid blue;
}

#banner-text-balanca{
    padding-left: 30px;

    border: 1px solid blue;
}

#banner-text-balanca a{
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: 48px;
     
}

#banner-img-tabela-macros{
    border-radius: 50%;
    margin-left: 15px;

    border: 1px solid blue;
}

#banner-text-tabela-macros{
    padding-left: 30px;
}

#banner-text-tabela-macros a{
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: 48px;
     
}

.conteudo-atual{
    transition: opacity 0.5s ease-in-out;
}

.conteudo-oculto{
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#prev-btn{
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 120px;
    margin-left: 0px;
}

#next-btn{
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 120px;
    margin-right: 0px;
}

#arrow-left, #arrow-right{
    height: 40px;
    width: 40px;
}


/*seção de contato*/
#contato{
    margin-top: 200px;
}
