@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display&display=swap');

#home_background{
    display: flex;
    flex-direction: column;   /* organiza os elementos verticalmente */
    width: 100%;
    height: 100%;
    background-color: white;

}

/*barra de navegação*/

#nav-bar{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 10vh;
    align-items: center;
    
}

#nav-list{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 90%;
    height: 80%;
    padding-right: 75%;
    
}

#nav-list li{
    list-style-type: none;
    display: flex;
    position: relative;
    margin-left: 40%;
    padding-top: 10%;
    flex-direction: column; 
    align-items: center;  /* centraliza o conteúdo horizontalmente */
    justify-content: center; /* centraliza o conteúdo verticalmente */
    transition: background-color 0.5s ease-in-out; /* animação suave de 0.5s */
    border-radius: 15px; /* altera o formato da div*/

}

#nav-list a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
}

#nav-list li:hover{
    background-color: #abacad;
}

#doctor-logo{
    display: flex;
    position: relative; 
    width: 10%;
    height: 90%;
    
}

#house-icon{
    display: flex;
    position: relative;
    padding-right: 0%;
    height: 35px;
    width: 50px;
    margin-bottom: 3px;
}

#calculator-icon{
    display: flex;
    position: relative;
    padding-right: 0%;
    height: 38px;
    width: 50px;
    margin-bottom: 3px;
}


/*seção do banner*/

#banner{
    display: flex;
    margin-top: 7%;
}

#banner-container-calculadora{
    display: flex;
    position: relative;
    height: 300px;
    width: auto;
    background-size: cover; /* faz a imagem cobrir toda a área sem deformar */
    background-position: center; /* centraliza a imagem */
    border-radius: 15px;
}

#banner-img-balanca{
    border-radius: 50%;
}

#banner-text-balanca{
    padding-left: 30px;
}

#banner-text-balanca a{
    color: black;
    font-size: 48px;
    font-family: "Georgia", "Times New Roman", serif; 
}

#prev-btn, #next-btn{
    margin: 20px;
}

